.THIS {
    align: center;
    font-size: 13px;
    
}
.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    
    width: 150%;
    height: 10rem;
        
}
.THIS .xyz{
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    margin: auto !important;
}
.THIS .final-com-label{
    font-size: 18px !important;
    font-weight: bold;
}
.THIS .final-com-label-form{
    font-size: 18px !important;
    font-weight: bold;
}
.THIS.slds-box {
    border: 2px solid #D3D3D3;
}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}